.dashboard-page {
  display: flex;
  width: 100%;
  padding: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 324px;
  /* background-color: #f0f0f0; */
}

.content {
  display: flex;
  width: 80%;
  /* background-color: #ffffff; */
}
